<FlexboxLayout class="page page-login" backgroundImage="res://space">
    <StackLayout class="company-name-container">
        <Image src="res://chat" stretch="true" class="company-logo"></Image>
        <Label class="t-30 company-name" text="ChitChat"></Label>
    </StackLayout>
    <StackLayout class="login-input-fields">
        <TextField hint="Email address" keyboardType="email" class="login-input-field"></TextField>
        <TextField hint="Password" secure="true" class="login-input-field"></TextField>
        <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18" (tap)="login()" text="Log in"></Button>
    </StackLayout>
</FlexboxLayout>